<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>running-recorder</title>
  </head>
  <h1>Data input page</h1>
  <div>
    <a href="/" >ホーム</a>
  </div>
  <a></a>
</html>