<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>running-recorder</title>
    <script src="/test/dist/chart.js"></script>
  </head>
  <canvas id="myChart" width="400" height="400"></canvas>
  <script src="/js/fig.js"></script>
  
  
</html>