<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>running-recorder</title>
    <script src="/test/dist/chart.js"></script>
  </head>
  <h1>
      hello
  </h1>
  <div>
    <% const test =  results[2]['date'] %>
    <% console.log(test) %>
    <canvas id="myChart" height="40"></canvas>
    <div id="mydiv" data-tests=<%= test %>>
    </div>
    <script>
    var test = document.getElementById('mydiv').dataset.tests
    console.log(test);
    </script>
    <script src="/js/fig.js"></script>
  </div>

</html>